<ion-view title="Delivery Address" hide-back-button="false">
     
    <ion-content class="main-bg has-footer bg-css">
    <div class="row" >
            <div class="col">
                <h4 class=" ">Select Delivery Address</h4>
            </div>
        </div>
         <ion-radio ng-model="address" checked="checked" ng-value="'A'"><span class="radio-opt">511, Poonam Nagar, Andheri East, Mumbai 440058</span></ion-radio>
         <ion-radio ng-model="address" ng-value="'B'"><span class="radio-opt">504, Neelkanth Business Park, Vidyavihar West, Mumbai 440058</span></ion-radio>
             
                  <div class="banner-wrapper plr15">
                <a class="button button-full button-balanced foodex-primary w100" href="">
                    Add New Address
                </a>
            </div>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-balanced foodex-primary">
        <a href="" ui-sref="app.payment"><h1 class="title">Deliver Here</h1></a>
    </ion-footer-bar>
</ion-view>
