<ion-view title="Delivery Address" hide-back-button="false">
     
    <ion-content class="main-bg bg-css">
    <div class="row" >
            <div class="col">
                <h4 class="">Select Delivery Address</h4>
            </div>
        </div> 
                  <div class="banner-wrapper plr15" ng-if="!isLoggedIn">
                <a class="button button-full button-balanced foodex-btn foodex-primary w100" ng-click="loginFromMenu()">
                    Login
                </a>
            <div class="txt-center"><p class="or-option">OR</p></div>
            </div>
            <form name="checkoutForm" >
        <div class="form-wrapper"> 
                <div class="list">
                    <label class="item item-input item-floating-label" ng-class="checkoutForm.name.$touched && checkoutForm.name.$invalid ? 'error-border' : ''">
                        <span class="input-label ">Full Name*</span>
                        <input type="text" name="name" ng-required="true" ng-model="appUser.name"  placeholder="Enter your First Name">
                    </label> 
                    <label class="item item-input item-floating-label" ng-class="checkoutForm.email.$touched && checkoutForm.email.$invalid ? 'error-border' : ''">
                        <span class="input-label ">Email*</span>
                        <input type="email" name="email" ng-required="true" ng-model="appUser.email" placeholder="Enter your Email">
                    </label>
                    <label class="item item-input item-floating-label" ng-class="checkoutForm.contact.$touched && checkoutForm.contact.$invalid ? 'error-border' : ''">
                        <span class="input-label" >Contact Number*</span>
                        <input type="text" name="contact" ng-required="true" ng-model="appUser.contact_no"  placeholder="Enter your Contact Number">
                    </label>
                    <label class="item item-input item-floating-label" ng-class="checkoutForm.address.$touched && checkoutForm.address.$invalid ? 'error-border' : ''">
                        <span class="input-label">Complete Address*</span>
                        <textarea type="text" class="text-area-order" name="address" ng-required="true" ng-model="appUser.address" placeholder="Enter your Complete Address with landmark"></textarea>
                    </label>
 

                   <label class="item item-input item-select mt15">
     
    <div class="input-label" >
      Location:
    </div> 
    <select class="btn-disbled" ng-disabled="true">
      <option selected="selected">{{::location}}</option> 
    </select>
  </label>

    <li class="item item-toggle mt10">
     Pre Order:
     <label class="toggle toggle-balanced">
       <input type="checkbox" ng-model="preOrder.isPreOrder">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
  <span ng-if="preOrder.isPreOrder">
<label class="item item-input  ">
   <div class="input-label" >
      Date:
    </div>
                     <button class="button icon-left ion-android-calendar" ng-click="setDate()"><span ng-if="!preOrder.date">Tab to select</span><span ng-if="preOrder.date">{{preOrder.date}}</span></button>
 </label>  
<label class="item item-input ">
   <div class="input-label" >
      Time:
    </div>
                     <button class="button icon-left ion-clock" ng-click="setTime()"><span ng-if="!preOrder.time">Tab to select</span><span ng-if="preOrder.time">{{preOrder.time}}</span></button>
              </label>       
                          
</span>
                </div>
    <div class="row" >
            <div class="col">
                <h4 class="">Select Payment Method</h4>
            </div>
        </div> 

        <ion-list>
  <ion-radio ng-model="paymentChoice" ng-value="'cod'">Cash on Delivery (COD)</ion-radio> 
</ion-list>
  <span ng-show="checkoutForm.email.$touched && checkoutForm.email.$invalid" class="validation-error">Please enter a valid Email Id.</span>  
                        <div class="banner-wrapper row plr15">
                  <button class="button mr6  button-block button-balanced foodex-primary col" ng-disabled="checkoutForm.$invalid" ng-click="saveUser(appUser, preOrder)">
                      Pay <span class="draw-inr"></span>{{cartGrandTotal}}
                    </button>   
            </div>
        </div>
            </form>

    </ion-content>
 
</ion-view>
