<ion-view title="{{::navTitle}}" hide-menu-button="true">
    <ion-content class="main-bg">
        <div class="banner-wrapper">
            <ion-slide-box auto-play="true" does-continue="true" on-slide-changed="slideChanged(index)" style="text-align:center;">
                <ion-slide>
                    <img ng-src="img/banner/banner1.png" class="img">
                </ion-slide>
                <ion-slide>
                    <img ng-src="img/banner/banner2.png" class="img">
                </ion-slide>
                <ion-slide>
                    <img ng-src="img/banner/banner3.png" class="img">
                </ion-slide>
            </ion-slide-box>
        </div>
        <div class="wrapper-listing">
            <div class="row home-title">
                <div class="col-80">
                    <h4 class=" ">Shops in {{navTitle}}</h4>
                </div>
                   <div class="col-20">
                <button class="button button-icon pull-right button-clear pb8 ion-funnel filter-icon pr0" ng-click="popover.show($event)">
                </button>
            </div>  
            </div>
            <div class="listing-wrap">
                <div class="list">
                    <div ng-repeat="shop in shops">
                        <a href="#/app/shop/{{::shop.id}}" class=" card item-thumbnail-left shop-listing no-blue shop-icon-wrap">
                            <img ng-src="img/shop/{{::shop.image}}">
                            <h2 class="">{{::shop.name}} </h2>
                            <p class="fz12"> <span ng-repeat="item in shop.items">{{::item}} &nbsp;</span> </p>
                            <div class="rating row ">
                                <div class="stars">
                                    <i style="width:{{::shop.rating}}%"></i>
                                </div>
                                <!-- <div  class="rating-count fz12">{{::shop.ratingCount}} Ratings</div> -->
                            </div>
                            <div class="row padding0">
                                <div class="col padding0">
                                    <p class="fz12">Delivery: Rs. {{::shop.deliveryCharge}} / {{::shop.deliveryTime}} min</p>
                                    <p class="fz12">Free Delivery above Rs. {{::shop.minOrder}} </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
<script id="templates/popover.html" type="text/ng-template">
      <ion-popover-view>

        <ion-content>
        <span class="filter-head">
           <h5>Filters</h5>
          
 <ion-list>

  <ion-checkbox  class="checkbox-cover">User Rating</ion-checkbox>
  <ion-checkbox  class="checkbox-cover">Bengoli Sweets</ion-checkbox>
  <ion-checkbox  class="checkbox-cover">Farsan</ion-checkbox>
    <ion-checkbox  class="checkbox-cover">Besan Sweets</ion-checkbox>
  <ion-checkbox  class="checkbox-cover">Shrikhand</ion-checkbox>
  <ion-checkbox  class="checkbox-cover">Ladoos</ion-checkbox>

</ion-list> </span>
        </ion-content>
      </ion-popover-view>
    </script>
