<ion-view view-title="Home" hide-nav-bar="true" cache-view="false">
    <ion-content class="main-bg location login-bg">
 
        <div class="row">
            <div class="col wrapper-logo">
                <img ng-src="img/logo-dark.png" alt="">
            </div>
        </div>
        <form name="frmLocation">
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input ion-autocomplete type="text" name="location" readonly="readonly" class="ion-autocomplete" autocomplete="on" ng-model="model" item-value-key="location" item-view-value-key="location" items-method="getTestItems(query)" items-method-value-key="items" items-clicked-method="clickedMethod(callback)" placeholder="Enter your location manually" max-selected-items="1" required/>
                </label>
            </div>
            <div class="txt-center ">OR</div>
            <div class="list list-inset location-btn-wrap mb0 mt10">
               <a ng-click="gpsLocation()"> <button class="button button-small icon-left ion-location mb25  button-block button-balanced foodex-primary"   >
                    Use my current location
                </button></a> 
            </div>
          
        </form>
    
       
    </ion-content>
</ion-view>
 
