<ion-modal-view>
 
    <ion-pane ng-show="showLogin">
        <ion-header-bar class="bar-balanced foodex-primary">
            <div class="title">Login</div>
            <div class="buttons">
                <button class="button button-clear capitalize" ng-click="hide()">Close</button>
            </div>
        </ion-header-bar>
        <ion-content class="main-bg login-bg">
            <div class="row">
                <div class="col wrapper-logo">
                    <img ng-src="img/logo-dark.png" alt="">
                </div>
            </div>
            <form class="margin30" name="userForm" ng-submit="authUser(formUser)">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label ">Email*</span>
                        <input type="email" class="" name="email" ng-required="true" ng-model="formUser.email" placeholder="Enter your email">
                    </label> 
                    <label class="item item-input item-floating-label">
                        <span class="input-label ">Password*</span>
                        <input type="password" class="" name="password" ng-required="true" ng-model="formUser.password" placeholder="Enter your password">
                    </label>
                    <div class="padding"> 
        </div> 
                    <button class="button button-small mt25 button-block button-balanced foodex-primary" ng-disabled="userForm.$invalid" type="submit" >
                        Login
                    </button>
                </div>
            </form>
            <div class="wrapper-login-offer">
                <div class="row login-pad ">
                    <div class="col">
                        <a class="  " ng-click="registerToggle()">
                        Create Account
                    </a>
                    </div>
                    <div class="col txt-right">
                        <a class=" " ng-click="resetPwd()">
                        Forgot Password? 
                    </a>
                    </div>
                </div>
            </div>
            <div class="txt-center ">OR</div>
            <div class="list list-inset location-btn-wrap">
                <button class="button button-small button-full facebook-background button-balanced  facebook-sign-in" ng-click="facebookLogin()">LOG IN WITH FACEBOOK</button>
            </div>
        </ion-content>
    </ion-pane>
    <!-- Register   -->
    <ion-pane ng-hide="showLogin">
        <ion-header-bar class="bar-balanced foodex-primary">
            <div class="title">Register</div>
            <div class="buttons">
                <button class="button button-clear capitalize" ng-click="registerToggle()">Close</button>
            </div>
        </ion-header-bar>
        <ion-content class="main-bg">
            <form class="margin30" name="registerUser" ng-submit="registerUser(userData)">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label ">Full Name*</span>
                        <input type="text" name="name" class="" ng-required="true" ng-model="userData.fullname"  placeholder="Enter your Full Name">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label ">Email*</span>
                        <input type="email" class="" name="email" ng-required="true" ng-model="userData.email" placeholder="Enter your Email">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label ">Contact Number*</span>
                        <input type="text" class="" name="contact" ng-required="true" ng-model="userData.mobile" placeholder="Enter your Contact Number">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label ">Password*</span>
                        <input type="password" class="" name="pass" ng-required="true" ng-model="userData.pass" placeholder="Enter your password">
                    </label> 
                    <label class="item item-input item-floating-label">
                        <span class="input-label ">Confirm Password*</span>
                        <input type="password" class="" name="cnfpass" ng-required="true" ng-model="userData.pass_confirm" placeholder="Confirm password">
                    </label> 
                    <input type="hidden" ng-model="userData.dnd"  value="on" >
                 
                    <button class="button button-small mt25 button-block button-balanced foodex-primary"  ng-disabled="registerUser.$invalid"  type="submit">
                        Create Account
                    </button>
                </div>
            </form>
        </ion-content>
    </ion-pane>
</ion-modal-view>
