<ion-view title="Offers" hide-back-button="false" cache-view="false">
    <ion-content class="main-bg bg-css">
        <ion-list> 
        
        
        
             <span  class=" "  ng-show="!orders.length">
          <div class="empty-cart-wrap">
               
                    <h4 class="fz16">No offers available currently</h4>
<br>
             <div> <button class="button   foodex-primary white" nav-clear ui-sref="app.home">Continue Shopping</button></div>
          </div>
        </span>
        </ion-list>
    </ion-content>
</ion-view>
