<ion-view title="My Orders" hide-back-button="false">
<ion-nav-buttons side="right">
   
</ion-nav-buttons>
    <ion-content class="main-bg bg-css">
        <ion-list>  
            <div ng-repeat="item in orders | orderBy:'-order_date'" class="card">
                <div ng-class="isItemShown(item) ? 'item-expand active' : 'item-expand inactive'">
                    <span class=" item item-thumbnail-left shop-listing no-blue cart-icon-wrap mb5">
                          <img ng-src="{{::imgPath}}/restaurant_logo/{{::item.shop_logo}}"  />
                            <h2 class=""> Order ID: {{::item.order_id}} </h2>
                            <p class="fz12"><strong>From:</strong>  <span >{{::item.shop_name}} &nbsp;</span> </p>
                    <div class="row padding0">
                        <div class="col padding0">
                            <p class="fz12"><strong>Order Amount:</strong> <span class="draw-inr"></span>{{::item.order_final_amount}}</p>
                            <p class="fz12"><strong>Date:</strong> {{::item.order_date}}</p>
                            <p class="fz12"><strong>Status:</strong> <span ng-switch on="item.order_status">
                                <span ng-switch-when="6" class="bold">Received</span>
                                <span ng-switch-when="7" class="bold">Accepted</span>
                                <span ng-switch-when="8" class="bold">cancelled</span>
                                <span ng-switch-when="3" class="bold">Return</span>
                                <span ng-switch-when="4" class="bold">Dispatched</span>
                                <span ng-switch-when="5" class="success bold">Delivered</span>
                                </span></p>
                           
                        </div>
                    </div>
                    </span>
 
                        <div class="row plr15">
                            <div class="col-50 fwbold">
                                <p class="fz12">Item</p>
                            </div>
                            <div class="col-25 fwbold">
                                <p class="fz12">Qty</p>
                            </div>
                            <div class="col-20 fwbold txt-right">
                                <p class="fz12">Price</p>
                            </div>
                        </div>
                        <div class="row plr15" ng-repeat="shopItem in item.menu_details track by $index">
                            <div class="col-50">
                                <p class="fz12">{{shopItem.menu_name  | capitalize:true}}</p>
                            </div>
                            <div class="col-25">
                                <p class="fz12">{{shopItem.menu_qty}} * {{shopItem.menu_unit}}</p>
                            </div>
                            <div class="col-20 txt-right">
                                <p class="fz12"> <span class="draw-inr"></span>{{shopItem.menu_cost}}</p>
                            </div>
                        </div>
                         
                    
             <!--        <div class="item wrapper-items">
                        
                           
                        <div class="row plr15">
                            <div class="title-cart col-60">
                                <h2>Total: </h2>
                            </div>
                            <div class="amt-cart col-40">
                                <h2><span class="draw-inr"></span>{{::item.order_total}}</h2>
                            </div>
                        </div>
                    </div> -->
                </div>
               

                <div ng-click="toggleItem(item)" class="item-expand-footer">
                    <span class="btn-warp">
            <i ng-class="isItemShown(item) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
            {{ isItemShown(item) ? 'Collapse' : ' Expand' }}
            </span>
                </div>
            </div>
             <span  class=" "  ng-show="!orders.length && isLoggedIn">
          <div class="empty-cart-wrap">
               
                    <h4 class="fz16">No previous order found.</h4>
<br>
             <div> <button class="button   foodex-primary white" nav-clear ui-sref="app.home">Continue Shopping</button></div>
          </div>
        </span>
        
             <span  class=" "  ng-show="!isLoggedIn">
          <div class="empty-cart-wrap">
               
                    <h4 class="fz16">Please login to view orders.</h4>
<br>
             <div> <button class="button   foodex-primary white" ng-click="loginFromOrder()">Login</button></div>
          </div>
        </span>
        </ion-list>
    </ion-content>
</ion-view>
