<ion-view title="Order Confirmation" hide-back-button="false">
    <ion-content class="main-bg bg-css">
        <div class="row">
            <div class="col">
                <h4 class=" ">Your Order Has been placed successfully</h4>
            </div>
        </div>
        <div class="row">
            <div class="banner-wrapper w100 plr15">
                <a class="button button-full button-balanced col foodex-primary w100" href="#/app/home">
                    Continue Shopping
                </a>
            </div>
        </div>
        <div class="row">

            <div class="banner-wrapper w100 plr15">
                <a class="button button-full button-balanced col foodex-primary w100" href="#/app/orders">
                    My Orders
                </a>
            </div>
            </div>
    </ion-content>
</ion-view>
