<ion-view title="My Orders" hide-back-button="false" cache-view="false">
    <ion-content class="main-bg bg-css">
        <ion-list> 
            <div ng-repeat="item in orders track by $index | orderBy:'id'" class="card">
                <div>
                    <span class=" item item-thumbnail-left shop-listing no-blue cart-icon-wrap mb5">
                          <img ng-src="{{::imgPath}}/restaurant_logo/{{::item.shop_logo}}" ui-sref="app.shop({shopId: item.restaurant_id})" />
                            <h2 class=""> Order ID {{::item.id}} </h2>
                            <p class="fz12"><strong>From:</strong>  <span >{{::item.shop_name}} &nbsp;</span> </p>
                    <div class="row padding0">
                        <div class="col padding0">
                            <p class="fz12"><strong>Order Amount:</strong> Rs. {{::item.final_amount}}</p>
                            <p class="fz12"><strong>Date:</strong> {{::item.order_date}}</p>
                        </div>
                    </div>
                    </span><!-- 
                    <div class="   wrapper-items">
                        
                           
                        <div class="row plr15">
                            <div class="title-cart col-60">
                                <h2>Total: </h2>
                            </div>
                            <div class="amt-cart col-40">
                                <h2>Rs. {{::item.final_amount}}</h2>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div>
                </div><!-- 
                <div ng-click="toggleItem(item)" class="item-expand-footer">
                    <span class="btn-warp">
            <i ng-class="isItemShown(item) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
            {{ isItemShown(item) ? 'Collapse' : ' Expand' }}
            </span>
                </div> -->
            </div>
        </ion-list>
    </ion-content>
</ion-view>
