<ion-view title="Payment" hide-back-button="false">
  
    
    <ion-content class="main-bg bg-css">
    <div class="row">
            <div class="col">
                <h4 class="color-white">Select Payment Method</h4>
            </div>
        </div>
         <ion-radio ng-model="choice" ng-value="'cod'"><span class="radio-opt">Cash On Delivery</span></ion-radio>
         <ion-radio ng-model="choice" ng-value="'online'"><span class="radio-opt">Pay Online</span></ion-radio>
             
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-balanced foodex-primary">
        <a href=""><h1 class="title">Pay Rs. 625</h1></a>
    </ion-footer-bar>
</ion-view>
